* {
    box-sizing: border-box;
    }
body{
    background-color: #e5e5e5;
}
.item{
    border-radius: 12px;
    background-color: white;
    border: 10px solid white;
    width:100%;
    margin: 20px;
}
.mailchimp{
    height: 12%;
    margin: 2px 0 1px 0;
    border: 0 solid #000000;
    background-color: #e3e3e3;
    border-radius: 10px;
    padding: 1px;
    width: 16%;
}
.header1{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.title1 {
    text-align: left;
    color: #269CEB;
    margin-top: 0px;
    float: left;
    clear: both;
  }
  
  .title2 {
    text-align: left;
    color: #FF9D00;
  }
  .row{
    padding:0 1rem 0 1rem;
  }
  .bg-danger{
    background-color:#ff0000  !important;
  }
  .button1{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-start;
    margin-top: 2%;
  }
  .content{
    margin: 2.5rem 0 2.5rem 0;
  }
  h1{
    font-size:100%;
    margin: 3% 0 0 2%; 
    position: relative;
  }
  h2{
    margin-bottom: 0 !important;
    font-weight: 400;
  }
  .btn-warning{
    color: #ffd84d;
    background-color: #fffbe9;
    border-color: #fffbe9;
  }
  .process-title{
    font-size: 1.1rem;
    margin: 15px 0 5px 0;
  }
  .text{
    border: 0px solid white;
    padding: 0.375rem 0.75rem;
    border-radius: 6px;
    color: #ffd84d;
    background-color: #fffbe9;
    border-color: #fffbe9;
    font-weight: 400;
  }